
{% include 'layout/parts/header.twig' %}
<head>
    <link rel="stylesheet" href="/../../assets/css/costumer-css/login.css">
</head>
<body>
{% include 'layout/parts/navigation.twig' %}
<div class="outer-box">
    <div class="button-box">
        <div id="btn-state"></div>
        <button type="button" class="toggle-btn" onclick="login()">Log in</button>
        <button type="button" class="toggle-btn" onclick="register()">Register</button>
    </div>
    <div id="login" class="input">
        <form method="post" action="/login" role="form" class="input-form">
            <input type="text" name="userId" class="input-field" placeholder="Gebruikersnaam" value="{{ unameLog ? unameLog : "" }}" autocomplete="off" required>
            <input type="password" name="password" class="input-field" placeholder="Paswoord" value="{{ pas1Log ? pas1Log : "" }}" autocomplete="off" required>
            <button type="submit" class="submit-btn" name="login">Login</button>
            <a href="/home" id="cancel" class="submit-btn">Annuleer</a>
            <div class="error">
                <p></p>
            </div>
        </form>
    </div>
    <div id="register" class="input">
        <form method="post" action="/login/register" role="form" class="input-form">
            <input type="text" name="userId" class="input-field" placeholder="Gebruikersnaam" autocomplete="off" value="{{ uname ? uname : "" }}" required>
            <input type="email" name="email" class="input-field" placeholder="Email" autocomplete="off" value="{{ email ? email : "" }}" required>
            <input type="password" name="password" class="input-field" placeholder="Paswoord" value="{{ pas1 ? pas1 : "" }}" autocomplete="off" required>
            <input type="password" name="confPassword" class="input-field" placeholder="Bevestig paswoord" value="{{ pas2 ? pas2 : "" }}" autocomplete="off" required>
            <button type="submit" class="submit-btn" name="register">Registreer</button>
            <a href="/home" id="cancel" class="submit-btn">Annuleer</a>
            <div class="error">
                <p></p>
            </div>
        </form>
    </div>
</div>
{% if errors %}
    {% if source == 'register' %}
        <script type="text/javascript">
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn-state");

            var log = document.querySelector(".button-box button:nth-child(2)");
            var reg = document.querySelector(".button-box button:nth-child(3)");

            x.style.left = "-400px";
            y.style.left = "50px";
            z.style.left = "110px";
            log.style.color = "rgb(255, 0, 0)";
            reg.style.color = "white";
        </script>
    {% endif %}
    <div class="error-box">
        <ul>
            {% for error in errors  %}
                <l>{{ error }}</l>
            {% endfor %}
        </ul>
    </div>
{% endif %}

{% include 'layout/parts/footer.twig' %}
</body>
<script type="text/javascript" src="/../../assets/js/login-slider.js"></script>